/WebApplication_07_JSP_a/build/
/WebApplication07_JSP_b/nbproject/private/
/WebApplication07_JSP_b/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09/nbproject/private/
/WebApplication9/nbproject/private/
/WebApplication9/build/
/WebApplication10/nbproject/private/
/WebApplication10/build/
/WebApplication11/nbproject/private/
/WebApplication11/build/
/PRACTICE/nbproject/private/
/PRACTICE/build/
/PRACTICE_01/nbproject/private/
/PRACTICE_01/build/
/WebApplication12/nbproject/private/
/WebApplication12/build/
/Workshop1/nbproject/private/
/Workshop1/build/
/Ass/build/
/Ass/nbproject/private/
/WebApplication2/nbproject/private/
/WebApplication13/nbproject/private/
/WebApplication13/build/
/WebApplication14/nbproject/private/
/WebApplication14/build/